APPLICATIONINSIGHTS_CONNECTION_STRING=<connection string to app insights resource>
AzureWebJobsStorage=<connection string to web jobs storage account>
EventHubConnectionString=<connection string to event hub namespace>
EventHubConsumerGroup=<consumer group for receiving events>
EventHubReceiveName=<event hub from which to receive events>
ServiceBusConnectionString=<connection string to processing status service bus>
ServiceBusQueue=<name of the queue on the service bus that we are sending to>
MAX_SERVICE_BUS_MESSAGE_SIZE=<262144 or whatever larger value the service bus is configured to receive>

